#card {
  perspective: 3000px;
  perspective-origin: 50% 50%;
}

.front,
.back {
  backface-visibility: hidden;
  transform-style: preserve-3d;
  transition: transform 0.4s;
  transition-timing-function: ease-in-out;
}

.front {
  transform: rotateX(0deg);
}

.back {
  transform: rotateX(180deg);
}

.front-flipped {
  transform: rotateX(180deg);
}

.back-flipped {
  transform: rotateX(360deg);
}
