/* @import url("https://fonts.googleapis.com/css2?family=Figtree:wght@400;500;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600;700&display=swap"); */

.bg-gradient-radial {
  background: radial-gradient(var(--tw-gradient-from) 0%, transparent 60%);
}

.hero-card::before {
  --hero-card-rotate: 20deg;
  --hero-card-translate: -20%;
  --hero-card-offset-rotate: 0deg;
  --hero-card-offset-translate: 0%;
}

.hero-card[data-card="1"] {
  --hero-card-rotate: -16deg;
  --hero-card-translate: -15%;
  z-index: 1;
  @apply bg-white;
}

.hero-card[data-card="2"] {
  --hero-card-rotate: -2deg;
  --hero-card-translate: -20%;
  z-index: 2;
  @apply bg-white;
}

.hero-card[data-card="3"] {
  --hero-card-rotate: 14deg;
  --hero-card-translate: -25%;
  z-index: 3;
  @apply bg-white hover:cursor-pointer;
}

.hero-card {
  @apply rounded-md bg-white p-20 text-center text-xl font-semibold text-gray-600 opacity-0 shadow-2xl shadow-gray-600 lg:opacity-100;
  width: 24rem;
  aspect-ratio: 9/6;
  transition: all ease-in-out;
  transition-duration: 333ms;
  transform-origin: bottom right;
  position: absolute;
  right: 0;
  top: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Figtree", sans-serif;
  transform: translate(15%, -50%) rotate(var(--hero-card-rotate))
    translate(var(--hero-card-translate));
}

.glass {
  backdrop-filter: blur(5px);
}

.feature-card {
  @apply flex flex-col justify-end rounded-md px-6;
  position: relative;
}

.feature-card > h4,
.feature-card > * > h4 {
  @apply text-white;
}

.feature-card > * > p,
.feature-card > p {
  @apply mt-2 text-sm text-gray-200;
}

.custom-shape-divider-bottom-1677354881 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.custom-shape-divider-bottom-1677354881 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 86px;
}

.custom-shape-divider-bottom-1677355351 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.custom-shape-divider-bottom-1677355351 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 86px;
}

.custom-shape-divider-bottom-1677420221 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.custom-shape-divider-bottom-1677420221 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 103px;
}

.custom-shape-divider-bottom-1677420313 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.custom-shape-divider-bottom-1677420313 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 180px;
}

.button {
  @apply rounded-md bg-white bg-opacity-0 px-2 py-1.5 text-white shadow-black duration-200 ease-out hover:bg-opacity-10 hover:shadow;
}
